* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}

h1,
h2 {
    font-family: "Titillium Web", sans-serif;
}

h1 {
    font-size: 8vw;
    font-weight: bold;
    text-shadow: 4px 4px 8px black;
    color: white;
}

h2 {
    font-size: 2.5em;
}

header {
    width: 100%;
    height: 100vh;
    position: sticky;
    top: calc(-100vh + 6em);
    z-index: 1;
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > p {
    font-size: 3em;
    font-weight: bold;
    text-shadow: 4px 4px 8px black;
    color: white;
}

#menu {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 6em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3em;
}

#menu > ul {
    width: 100%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#menu > ul > li {
    list-style: none;
}

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#menu > i,
#menu > ul > li > a,
#menu > ul > li:last-child {
    color: white;
}

#menu > i,
#menu > ul > li:last-child {
    display: none;
}

section {
    width: 80%;
    max-width: 1500px;
    margin: auto;
    padding: 3em 0;
}

h2,
h3,
p,
section > ul {
    margin: 2rem 0;
}

figure {
    margin: 1rem 0;
}

#resume > div.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2em;
    background-color: aliceblue;
}

/* SIGN-IN FORM  */

.signin-cont,
.signin-cont form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.signin-cont > form > input {
    width: 100%;
    padding: 0.4em 0.8em;
    border-radius: 0.5em;
    font-size: 1.3em;
    margin: 0.5em 0;
}

.signin-cont > form > input#nl_submit {
    background-color: #f44336;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    font-size: 1.25em;
    cursor: pointer;
    transition: 0.35s;
}

.signin-cont > form > input.error-input {
    border: 1px solid red;
}

.signin-cont > form > input#nl_submit:hover {
    background-color: #ff6659;
}

.signin-cont > form > p.error_msg {
    color: red;
    font-size: 1.2em;
}

.signin-cont > form > p.hidden {
    display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 750px) {
    header > p {
        font-size: 1.5em;
    }

    #menu > i {
        display: block;
        cursor: pointer;
    }

    #menu > ul {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100vh;
        z-index: 1;
        padding: 30% 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        transition-duration: 1s;
    }

    #menu > ul > li > a {
        text-decoration: none;
        font-size: 2em;
    }

    #menu > ul > li:last-child {
        display: block;
        position: absolute;
        right: 2em;
        top: 2em;
    }

    #menu > ul > li:last-child > i {
        color: white;
        font-size: 2em;
        cursor: pointer;
    }
}
