
/* formulario */
.form-area{
    padding-top: 7%;
}

.left{
    background: var(--color-primario);
}

.left h2{
    font-family: poppins;
    color: #fff;
    font-weight: 400;
    font-size: 48px;
}
.left h2 span{
    font-weight: 100;
}
.right{
}

.form-control{
    border: 2px solid #2c3a50c2;
}
.right button{
    border: none;
    border-radius: 0;
    background: var(--color-primario);
    width: 180px;
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}