* {
    color: #fff;
}

:root {
    --color-primario: rgba(30,43,63,1);
    --color-secundario: rgba(43,58,81,1);
  }

 
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #fff;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #0d6efd;
}


.navbar-transparent {
    backdrop-filter: blur(10px);
    /* position: absolute !important; */
    z-index: 100;
    margin: 0 1% 0 1%;

}

.navbar-transparent .container-fluid {
    /* background-color: rgba(0, 0, 0, 0.5); Fondo semi-transparente para legibilidad */
}


#mainHeader {
    background-size: cover;
    background-image: linear-gradient(90deg, var(--color-primario) 45%, rgba(0,212,255,0) 100%), url("../img/gatito\ 1.png");
    width: auto;
    height: 100vh;
    /* position:absolute; */
    z-index: 1;
}

#mainTitle {
    font-size: 7em;
}

body, section{
    background-color: var(--color-primario)!important;
}


/*
#main-text {
    height: 100%;
    margin: 15%;
    width: 31%;
 
}

#main-text h1 {
    font-size: 4.5em;
}
*/
 #hire {
    
    background-color: var(--color-secundario);
}

.row {
    height: 100%;
}

#about > .row > .col-md-4 {
    background-image: radial-gradient(circle, rgba(82,99,126,0) 0%, var(--color-primario) 84%), url(../img/about.png);
    background-size: cover;
    height: 60vh;
}

.table td, .table th{
    border-top: none!important;
}

.fa {
    color: rgb(255, 213, 0);
}

.skill-content {
    height: 70vh;
    margin-bottom: 10em;
    position: relative;
}


#s-packaging { background-image: url(../img/skills-fit.png); background-size: cover; margin-right: 10%;}
#s-3d { background-image: url(../img/3d.png); background-size: cover;margin-left: 10%;}
#s-foto { background-image: url(../img/fede.png); background-size: cover;margin-right: 10%;}
#s-ux { background-image: url(../img/bff.png); background-size: cover;margin-left: 10%;}


.transparent {
    background-color: #2c3a50c2;
    backdrop-filter: blur(5px);
    width: 90%;
    height: auto;
    padding: 4em;
    position: absolute;
    z-index: 2;
}

.t-a{
    bottom: -10%;
    right: -10%;
}

.t-b {
    bottom: -10%;
    left: -10%;;
} 


#hire .col-md-8 {
    background-image: radial-gradient(circle, rgba(82,99,126,0) 0%, var(--color-primario) 84%), url(../img/hire.png);
    background-size: cover;
    height: 40vh;
    
}

.table {
    --bs-table-bg: transparent;
    --bs-table-color: #fff;
}

tbody, td, tfoot, th, thead, tr  {
    border-style: none;

}

@media only screen and (max-width: 767px) {
   .skill-content {
    height: auto;
    margin-bottom: 14em;
   }
    .transparent {
    position: relative;
    font-size: 0.7em;
   }
   .t-a {
    bottom: -80%;
    right: -10%;
}

.t-b {
    bottom: -80%;
    left: -10%;;
} 
  }