:root {
    --color-primario: rgba(30,43,63,1);
    --color-secundario: rgba(43,58,81,1);
  }

/* formulario */
.form-area{
    padding-top: 7%;
}

.left h2{
    font-family: Poppins;
    color: #fff;
    font-weight: 100;
    font-size: 48px;
}
.left h2 span{
    font-weight: 500;
}
.right{
}

.form-control{
    border: 2px solid #2c3a50c2;
}
.right button{
    border: none;
    border-radius: 0;
    background: var(--color-primario);
    width: 180px;
    padding: 15px 0;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
}


#contactText {
    background-color: var(--color-secundario);
}

#endContact {
    background-image: radial-gradient(circle, rgba(82,99,126,0) 0%, var(--color-primario) 84%), url(../img/hire.png);
    background-size: cover;
    height: 40vh;
}
